@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');

.container-aboutme {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem;
    gap: 40px;
}

.text-aboutme h2{
    color: var(--white);
    font-size: 1.7rem;
    font-weight: 200;
}

.text-aboutme h3{
    color: var(--white);
    font-size: 3.8rem;
    letter-spacing: 4px;
    margin-bottom: 38px;
    font-weight: 100;
    font-family: "Meow Script", cursive;
}

.text-aboutme p{
    color: var(--white);
    font-size: 1rem;
    font-weight: 200;
    line-height: 30px;
}

